In [90]:
1+2

3

In [91]:
a=10

In [92]:
print(a+5)

15

In [93]:
import this

In [94]:
#single line comment
'''
Multiline comment
'''
print("done")

done

variable declaration

In [95]:
a=9
type(a)

int

In [96]:
print(a)

9

In [97]:
b="vivek"
type(b)

str

In [98]:
first_name = "vivek"
print(first_name)

vivek

Integers

In [99]:
a=5
c=10
type(a)

int

In [100]:
a+3

8

In [101]:
a*10

50

In [102]:
a/10

0.5

In [103]:
a%5

0

In [104]:
print(type(a))

<class 'int'>

Floating Point

In [105]:
a=190.5
a

190.5

In [106]:
print(type(a))

<class 'float'>

In [107]:
#Typecast
int(a)

190

In [108]:
float(c)

10.0

Boolean

In [109]:
a1=True
b1=False

In [110]:
type(a1)

bool

In [111]:
a1 and b1

False

In [112]:
a1 or b1

True

In [113]:
a1 & b1

False

In [114]:
a1 | b1

True

Strings

In [115]:
name1 = "Vivek"
print(name1)
print(type(name1))

Vivek
<class 'str'>

In [116]:
name1 + "Sati"

'VivekSati'

In [117]:
name1 +" "+ str(1)

'Vivek 1'

Complex Numbers

In [118]:
j=1.0-2.3j
j

(1-2.3j)

In [119]:
print(j.real,j.imag)

1.0 -2.3

Dynamic Typing

In [120]:
a=20
a='Vivek'

Strong Typing

In [121]:
a="Vivek"

In [122]:
a+"1"
# a+1

'Vivek1'

In [123]:
a+str(1)

'Vivek1'

String Formatting

In [124]:
a=100
print("The values is -",a)

The values is - 100

In [125]:
first_name="Vivek"
last_name="Sati"
# print("The first name is {} and last name is {}".format(first_name,last_name))
# print("The first name is {} and last name is {}".format(last_name,first_name))
# print("The first name is {1} and last name is {0}".format(last_name,first_name))
print("The first name is {b} and last name is {a}".format(a=last_name,b=first_name))

The first name is Vivek and last name is Sati

Input type

In [126]:
# input("Enter the name")
a=input("Enter the number A ")
b=input("Enter the number B ") 
# print(a+b)
print(int(a)+int(b))

3