In [2]:
type({})

dict

In [6]:
type({1,2,3,4,5,'Vivek'})
print(set([1,2,3,4,5,5]))

{1, 2, 3, 4, 5}

In [7]:
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [9]:
set_var ={1,2,3,4,3}

In [10]:
set_var

{1, 2, 3, 4}

In [11]:
set_var={"Avengers","Ironman","Hitman"}
print(set_var)
type(set_var)

{'Avengers', 'Hitman', 'Ironman'}

set

In [14]:
# set_var[2]
for i in set_var:
    print(i)

Avengers
Hitman
Ironman

Inbuilt functions in Sets

In [15]:
set_var.add('Vivek')

In [16]:
set_var

{'Avengers', 'Hitman', 'Ironman', 'Vivek'}

In [20]:
set_var.add("Hulk")

In [22]:
set_var

{'Avengers', 'Hitman', 'Hulk', 'Ironman', 'Vivek'}

In [24]:
set1=set([4,2,3,1,6,7])
print(set1)

{1, 2, 3, 4, 6, 7}

In [25]:
set1.add(0)
set1

{0, 1, 2, 3, 4, 6, 7}

In [57]:
set1={"Avengers","Ironman",'Hitman'}
set2={"Avengers","Ironman",'Hitman','Hulk2'}

In [41]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [43]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [50]:
set2.intersection_update(set1)

In [51]:
set2

{'Avengers', 'Hitman', 'Ironman'}

In [53]:
set2.difference(set1)

{'Hulk2'}

In [54]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'Ironman'}

In [55]:
set2.difference_update(set1)

In [56]:
set2

{'Hulk2'}

In [58]:
set2.issuperset(set1)

True

Dictionaries

In [59]:
type({1:"Vivek"})

dict

In [60]:
type(dict())

dict

In [61]:
dic={}

In [62]:
type(dic)

dict

In [63]:
dict(name="Vivek",age=31)

{'name': 'Vivek', 'age': 31}

In [64]:
# Creating a dictionary
my_dict={"Car1":"Audi","car2":"BMW","Car3":"Mercedes Benz"}

In [65]:
type(my_dict)

dict

In [70]:
# my_dict[0]
my_dict["Car1"]

'Audi'

In [71]:
my_dict['Car3']

'Mercedes Benz'

In [72]:
my_dict.items()

dict_items([('Car1', 'Audi'), ('car2', 'BMW'), ('Car3', 'Mercedes Benz')])

In [73]:
my_dict.keys()

dict_keys(['Car1', 'car2', 'Car3'])

In [74]:
my_dict.values()

dict_values(['Audi', 'BMW', 'Mercedes Benz'])

In [75]:
for x in my_dict:
    print(x)

Car1
car2
Car3

In [77]:
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('car2', 'BMW')
('Car3', 'Mercedes Benz')

In [78]:
for x in my_dict.values():
    print(x)

Audi
BMW
Mercedes Benz

In [79]:
for x in my_dict.keys():
    print(x)

Car1
car2
Car3

In [80]:
my_dict

{'Car1': 'Audi', 'car2': 'BMW', 'Car3': 'Mercedes Benz'}

In [81]:
my_dict["Car4"]="Ambassadar"

In [82]:
my_dict

{'Car1': 'Audi', 'car2': 'BMW', 'Car3': 'Mercedes Benz', 'Car4': 'Ambassadar'}

Nested Dictionary

In [84]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [85]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [86]:
car_type['car1']['Mercedes']

1960

In [87]:
print(car_type['car1'])

{'Mercedes': 1960}

Tuples

In [88]:
my_tuple=tuple()

In [89]:
type(my_tuple)

tuple

In [90]:
my_tuple=()

In [91]:
type(my_tuple)

tuple

In [106]:
my_tuple=("Vivek","Ankur","John")

In [108]:
my_tuple.count('Vivek')

1

In [109]:
my_tuple.index('Ankur')

1

In [110]:
list(my_tuple)

['Vivek', 'Ankur', 'John']

In [93]:
my_tuple=('Hello','World')

In [95]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Hello', 'World')

In [97]:
my_tuple

('Hello', 'World')

In [101]:
# my_tuple.count('Hello')
my_tuple[0]

'Hello'

In [102]:
my_tuple.count('World')

1

In [103]:
my_tuple.index('Ankur')

ValueError: tuple.index(x): x not in tuple

In [111]:
list(my_tuple)

['Vivek', 'Ankur', 'John']